* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.heading-2 {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2381;
}

.section-title {
    display: flex;
    align-items: center;
    column-gap: 21px;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 173px;
    min-height: 57px;
    padding: 14px 30px;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background-color: #143c3c;
    color: #fff;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
    text-decoration: underline;
}

/*--------------------------------------------------- HEADER --------------------------------------------------- */

/* Nav */
.header {
    padding-top: 15px;
    position: sticky;
    top: -15px;
    background-color: #fff;
    z-index: 2;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
}

.header__inner::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #143c3c;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 69px;
    margin-left: 88px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;
    padding: 10px 19px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
    transition: 0.3s;
}

.navbar__item.navbar__actived,
.navbar__item:hover {
    color: #152427;
    text-shadow: 1px 0 0 #152427;
}

.navbar__item.navbar__actived::after {
    display: inline-block;
    position: absolute;
    left: 19px;
    bottom: -17px;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #143c3c;
    z-index: 1;
}

/*--------------------------------------------------- HERO --------------------------------------------------- */
.hero {
    padding: 28px 28px 28px 0px;
}

.hero__inner {
    display: flex;
}

.hero__content {
    margin-top: 103px;
    flex-shrink: 0;
    width: 35%;
}

.hero__heading {
    width: 93.6%;
    color: #152427;
    font-family: "Public Sans";
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero-action {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.hero-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.hero-watch__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-watch__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -22px;
    width: 44px;
    height: 43px;
    border-radius: 44px;
    background: #83a17d;
}

.hero-watch__content {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero-media {
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: 76px;
    column-gap: 20px;
}

.hero-media__circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero-media__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero-media__img:nth-last-of-type(2) {
    margin-top: 77px;
}

.hero-decorate-top {
    position: absolute;
    top: -25px;
    left: -220px;
}

.hero-decorate-top__vector {
    position: absolute;
    top: -1px;
    left: 46px;
}

.hero-decorate-bottom {
    position: absolute;
    right: 10px;
    bottom: -46px;
}

.hero-decorate-bottom__star {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-decorate-bottom__vector {
    position: absolute;
    right: 45px;
    bottom: -22px;
}

/*------------------------------------------------- LOGO BRAND ------------------------------------------------- */
.logo-brand {
    padding: 102px 0 14px;
}

.logo-brand__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 201px;
    padding: 0 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.logo-brand__item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
}

/*------------------------------------------------- SERVICES ------------------------------------------------- */
.services {
    margin-top: 42px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.services__row {
    display: flex;
    margin-top: 12px;
    column-gap: 422px;
}

.services__heading {
    width: 45.6%;
}

.services__heading::after {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
}

.services-action {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.services-action__left,
.services-action__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: var(--Scondery-color-light-green, #e2eddf);
    border: none;
    color: #152427;
    transition: 0.5s;
    cursor: pointer;
}

.services-action__left:hover,
.services-action__right:hover {
    background: #143c3c;
    color: white;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item {
    border-radius: 20px 20px 0 0;
}

.services-item a{
    display: flex;
}

.services-item:hover .services-item-body {
    /* padding-left: 18px; */
    border-radius: 0 0 20px 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transition: 0.5s;
}

.services-item:hover .services-item__heading, 
.services-item:hover .services-item__desc{
    transform: translateX(18px);
}

.services-item__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services-item-body {
  padding: 24px 0;
   transition: 0.2s;
}

.services-item__heading {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
    transition: 0.5s;
}

.services-item__desc {
    width: 72%;
    margin-top: 18px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71429;
    transition: 0.5s;
}
